# === OS ===
.DS_Store
Thumbs.db

# === Java ===
*.class

# === Logs ===
*.log

# === IDEs ===
# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
